# Segurança — nunca vão pro GitHub
.env
firebase-key.json
frontend/firebase-config.js

# Python
__pycache__/
*.pyc
.venv/
venv/

# Sistema operacional
Thumbs.db
.DS_Store
desktop.ini

# Uploads temporários
larose_temp/
